<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="android.uid.system" package="com.phicomm.speaker.systemtool" platformBuildVersionCode="22" platformBuildVersionName="5.1.1-3448">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.REBOOT"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM"/>
    <application android:allowBackup="false" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:name=".SystemApplication" android:persistent="true" android:supportsRtl="true" android:theme="@style/AppTheme">
        <service android:enabled="true" android:exported="true" android:name=".MainService"/>
        <service android:name="org.eclipse.paho.android.service.MqttService"/>
        <service android:enabled="true" android:exported="true" android:name=".bt.ble.BleToolService"/>
        <service android:enabled="true" android:exported="true" android:name=".storage.StorageMonitorService"/>
        <receiver android:name=".receivers.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.ReportLocationReceiver">
            <intent-filter>
                <action android:name="com.phicomm.speaker.systemtool.reportlocation"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="com.baidu.lbsapi.API_KEY" android:value="fb5oMa8MiFhqbFnVDhXEHl2E7cFUfru0"/>
        <service android:enabled="true" android:name="com.baidu.location.f" android:process=":remote"/>
    </application>
</manifest>